@import '../../../styles/variaveis';
.button{
    background-color: $cor-principal;
    color: white;
    border-radius: 6px;
    font-size: 1.1em;
    padding: 0.5em;
    width: 150px;
    border: none;
    
    
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}