@import '../../styles/variaveis';
@import '../../styles/breakPoints';


.form{
	align-items: center;
	display: flex;	
	flex-direction: column;
	height: 61%;
	width: 100%;
	&__field{
		align-items: center;
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		height: 90%;
		padding: 1em;
		row-gap: 0.5em;
		width: 60%;
		@media (max-width: $mobile){
			width: 80%;
		}
		&__errorMessage{
			color: red;
			font-size: 0.8em;
			
		}
	}
	
}



