@import '../../styles/variaveis';

.form{
	width: 100%;
	padding: 2em;
	box-sizing: border-box;
	height: 100%;
	display: flex;	
	flex-direction: column;
	align-items: center;
	&__field{
		display: flex;
		flex-wrap: wrap;
		row-gap: 1em;
		flex-direction: column;
		align-items: center;
		width: 30%;
		padding: 1em;
		border-radius: 6px;
		height: 90%;
		&__box{
			display: flex;
			flex-direction: column;
			width: 100%;
			row-gap: 1px;
			&__input{
				border: 1px solid red;
				border: none;
				border-bottom: 1px solid $cor-principal;
				border-left: 1px solid $cor-principal;
				border-radius: 6px;
				padding: 1em;
			}
			
		}
		&__input{
			background-color: $cor-principal;
			color: white;
			border-radius: 6px;
			font-size: 1em;
			padding: 0.5em;
		}
	}
	
}


