@import '../../styles/variaveis';
@import '../../styles/breakPoints';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__pesquisar {
        display: flex;
        margin:2em;
        border: none;
        &__button{
            color: white;
            font-size: 1em;
            border-radius: 2px;
            background-color: $cor-principal;
        }
    }
       
    &__thead {
        font-size: 1.1em;
        font-weight: 700;
        text-align: center;
        color: white;
        border-bottom: 5px solid $cor-secundaria;
        background-color: $cor-principal;
        @media(max-width: $mobile) {
            font-size: 1em;
        }
    }
}
.button_check{
    border: none;
    background-color: transparent;
}


.container_pagination {
    align-self: flex-end;
    margin-top: auto;
    margin-right: 1em;
    
}