@import '../../styles/variaveis';
.container{
    margin: 3em auto;
    width: 100%;
    height: 57vh;
    text-align: center;
    &__input{
        padding: 0.5em;
    }
    &__pesquisar{
        color: white;
        font-size: 1em;
        border: none;
        padding: 0.5em;
        border-radius: 3px;
        background-color: $cor-principal;
    }
    &__tabela{
        margin: 2em auto;
        width: 90%;
        &__thead{
            font-size: 1.3em;
            font-weight: 700;
            text-align: center;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            width: 100%;
            th{
                padding: 0.5em;
            }
            
        }
    }

}
 





