@import '../../styles/variaveis';
@import '../../styles/breakPoints';

.caroselContainer{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    padding: 1em;
    font-family: $fonte-kanit;
    &__titulo{
        text-align: center;
        margin: 1em 0;
    }
    &__secoes{
        display: flex;
        column-gap: 1em;
        justify-content: center;
        &__card{
            width: 40%;
        } 
        &__img{
            box-shadow:  2px 2px rgb(117, 115, 115);
            width: 80%;
            margin:0 auto;
            margin-top: 0.5em;
        }
        &__body{
            text-align: center;
        }
    }
    
    
}
@media (max-width: $mobile){
    .caroselContainer__secoes{
        flex-wrap: wrap;
        gap: 1em;
        &__card{
            width: 300px;
        }     
        &__img{
            width: 60%;
        }
    }
    
}




