.caroselContainer{
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    
}
.container-secoes{
    display: flex;
    column-gap: 1em;
    margin: 0 4em 2em 4em;
    
    
}
.container-secoes__titulo{
    font-family: var(--fonte-kanit);
    margin-left: 3em;
}
.img-carrosel{
    box-shadow:  2px 2px rgb(117, 115, 115);
    width: 80%;
    margin:0 auto;
    margin-top: 0.5em;
}