@import "../../styles/breakPoints";
@import "../../styles/variaveis";

 .header{
 	width: 100%;
 	box-sizing: border-box;
 	font-family: $fonte-kanit;
	 
	 background-color: $cor-principal;
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 .dropDown{
		display: none;
	 }
	&__img{
		width: 100px;
	}
}
.menu{
	box-sizing: border-box;
	&__list{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		a{
			text-decoration: none;
		}
	}
	&__link{
		a{
			width: 100%;
			text-decoration: none;
			color: white;
			transition: 0.51s all;
			font-size: 1em;
		}
		
	}
	a:hover{
			color: black;
			transition: 0.51s all;
			font-size: 1.2em;
	}
	
}


@media (max-width: $mobile) {
	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 1em;
		.dropDown{
			display: block;
		}
		&__img{
			width: 80px;
		}
	}
	.menu{
		display: none;
	}
  }
  		


 
 