@import "../../styles/breakPoints";
@import "../../styles/variaveis";

 .header{
 	width: 100%;
 	box-sizing: border-box;
 	font-family: $fonte-kanit;
	 padding-bottom: 0.5em;
	 background-color: $cor-principal;
	 text-align: center;
	 .dropDown{
		display: none;
	 }
	&__img{
		width: 120px;
	}
}
.menu{
	box-sizing: border-box;
	&__list{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
	&__link{
		a{
			width: 100%;
			text-decoration: none;
			color: white;
			transition: 0.51s all;
			font-size: 1.2em;
			&:hover,&:active{
				color: black;
				transition: 0.51s all;
				font-size: 1.5em;
				font-family: $fonte-kanit;
				border-bottom: 1px solid white;
				
			}
		}
	}
}

@media (max-width: $mobile) {
	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 1em;
		.dropDown{
			display: block;
		}
		&__img{
			width: 80px;
		}
	}
	.menu{
		display: none;
	}
  }
  		


 
 