@import '../../styles/variaveis';
@import '../../styles/breakPoints';
.footer{
	width: 100%;
	background-color: $cor-principal;
	color: #bbbb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
	img{
		width: 60px;
		@media (max-width: $mobile){
			width: 60px;
		}
	}
	
}