@import '../../styles/variaveis';
.footer{
	width: auto;
	text-align:center;
	margin-top: 2em;
	background-color: $cor-principal;
	color: #bbbb;
	padding: 0.5em;
	height: 20%;
	box-sizing: border-box;
	
}